/android/build.xml
/android/local.properties
/android/proguard-project.txt
/android/project.properties
/android/bin
/android/gen
/android/images/explore_icon_114x114.png
/android/images/explore_icon_36x36.png
/android/images/explore_icon_48x48.png
/android/images/explore_icon_72x72.png
/android/images/explore_icon_96x96.png
*.class
*.pyc
__pycache__
