/android/bin
/android/gen
/android/images/explore_114x114.png
/android/images/explore_36x36.png
/android/images/explore_48x48.png
/android/images/explore_72x72.png
/android/images/explore_96x96.png
*.class
